body{
	/*A subtle background pattern*/
	background: url(crossword.png) ; 
	background-color: #ffffff;
	margin: 0;
}

#container{
/*The invisible container to keep the content
	in the middle*/
	margin: 0 auto;
	width: 90%;
	height: auto;
	background: url(crossword.png) ; 
	text-align: center;
}

.server{
    margin-top: 0;
    margin-left: 83%;
    margin-bottom: 0;
}
.tablestyle{
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 2em;
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
        font-family: "Raleway", sans-serif;
  
}
.tablestyle tr{
    border-bottom-color: gray;
    border-bottom-style: groove;
}
.tablestyle tr:hover{
    background-color: #96E0D3;
}

.tablestyle td{
    padding-top: 1%;
    padding-bottom: 1%;
}

.tablestyle th{
    padding-top: 1%;
    padding-bottom: 1%;
}
.input{
    height: 35px; 
    padding-left: 30px;
    
    margin-left: 10px;
}
select{
   height: 39px;
   margin-left: 10px;
}
.radio{
    width: 30px;
}
.button-add{
    background-color: #0EBA34;
    font-size: 16px;
    border-radius: 3px;
    width: 100px;
    height: 41px;
}
.button-delete{
    
    background-color: #f44336;
    font-size: 16px;
    border-radius: 3px;
    width: 100px;
    height: 41px;
    margin-right: 100%;
    margin-top: 2%;
}
.button-delete:hover{
    background-color: #f44336; /* red */
    color: white;
}

#container a{
    color: black;
    font-family: "Raleway", sans-serif;
}

#container p{
	font-family: "Raleway", sans-serif;
}
nav{
/* Navigation bar */
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 1.5em;
	background-color: #353535;
	padding: 15px 0;
	vertical-align: top;
}

nav a{
	width: 180px;
	display: inline-block;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
}
nav img{
	display: inline-block;
}
/*Navigation bar styling*/
.bucket-link{
	color: #96E0D3;
	transition: color 0.5s;
}
.done-link{
	color: #96E0D3;
	transition: color 0.5s;
}

/* A different color when hovering on the 
navigation bar. */
.bucket-link:hover {
	color:#F5A2A2;
}
.done-link:hover {
	color:#F5A2A2;
}
.active-page {
	color:#F5A2A2;
}

.welcome-link-img {
/* Ribbon banner-link to get back 
to the welcome page. */
	position: absolute;
	left:0;
	top:-1%;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

h1{
	color:#96E0D3;
	font-family: "Raleway", sans-serif;
	margin-left: 12%;
}

#welcome{
	color:#96E0D3;
	font-family: "Raleway", sans-serif;
	margin-top: 1em;
	margin-left:auto;
	margin-right:94%;
	font-size: 50px;
}
#welcome-index{
        color:#96E0D3;
	font-family: "Raleway", sans-serif;
	margin-top: 2.5em;
	margin-left:auto;
	margin-right:auto;
	font-size: 50px;
}
#about{
	color: black;
	font-family: "Raleway", sans-serif;
	margin-left:auto;
	margin-right:auto;
	font-size: 20px;
}
#about a{
	color:#F5A2A2;
	font-weight: bold;
}
#overskrift{
	color:#96E0D3;
	font-family: "Raleway", sans-serif;
	margin-top: 2.5em;
	margin-left:auto;
	margin-right:auto;
}

.box {
	height: 14em;
	width: 14em;
	display: inline-block;
	margin: 0.5em 0.5em;
	vertical-align: middle;
}

#temp-img{
	width: 55%;
	height: auto;
}
footer {
	height: 3em;
	width: auto;
	color: #AAAAAA;
	font-family: "Raleway", sans-serif;
}


